body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e5ec; /* light blue background */
}

.App {
  text-align: center;
  position: sticky;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a237e; /* dark blue header */
  padding: 15px;
  text-align: center;
  color: #fff;
  
}

nav {
  display: flex;
  justify-content: center;
  background-color: #3f51b5; /* medium blue navbar */
  padding: 10px;

}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

section {
  padding: 20px;
}

footer {
  background-color: #1a237e; /* dark blue footer */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
section {
  background-image: url('../public/images/bg4.jpg'); /* Updated path to your image */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color on the background image */
  height: 65vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
  margin: 0;
  padding: 0;
}


.services-container {
  display: inline-flex;
  overflow-x: auto;
  /* margin: 20px; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-image: url('../public/images/bg10.jpg'); /* Updated path to your image */
  background-size: cover;
  background-position: center;
  color: rgba(40, 7, 102, 0.863); /*Text color on the background image*/
  height: 65vh;

}

.service-card {
  width: 200px;
  margin-right: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-container {
  background-image: url('../public/images/bg7.jpg'); /* Updated path to your image */
  background-size: cover;
  background-position: center;
  color: rgba(40, 7, 102, 0.863); /*Text color on the background image*/
  height: 65vh; /*Set the height to 100% of the viewport height*/
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
  /* font-size: large;
  font-weight: bold; */

}
.contact-details {
  font-size:large;
  font-weight: bolder;
  width: 55%; /* Desired width for contact information */
  padding: 12px;
  border-radius: 3px; /* Optional rounded corners */
}

.contact-details h2 {
  /* font-size: 20px; */
  margin-bottom: 5px;
}


.contact-details p {
  margin-bottom: 2px;
  line-height: 1.5;
  font-size: x-large;
  font-weight: bold;

}

/* Social media links */
.contact-details ul {
  list-style: none;
  padding: 0;
  font-size: large;
}

.contact-details li {
  display: inline-block;
  margin-right: 35px;
}

.contact-details a {
  text-decoration: none;
  color: #333;
}

/* Optional icon styling */
.contact-details li a svg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  fill: #333;
  margin-top: 10px;
}


.pricing-container {
  background-color: transparent;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-collapse: collapse;
  background-size: contain;
  background-position: center;
}

table {
  width: 100%;
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  font-weight: bold;
}

th {
  font-weight: bold;
}

/* contactForm.css */

.contact-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-top: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
/* .contact-form {
  max-width: 400px;
  margin: 0 auto;
} */

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-size: larger;
  font-weight: 500;
}

.contact-form input[type="text"],.contact-form input[type="email"],.contact-form input[type="phone"]{
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  font-weight:600;
}
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: larger;
  font-weight: bold;

}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-weight:bold;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}



@media only screen and (max-width: 768px) {
  .contact-container {
    background-image: url('../public/images/bg7.jpg'); /* Updated path to your image */
    background-size: cover;
    background-position: center;
    color: rgba(40, 7, 102, 0.863); /*Text color on the background image*/
    height: 55vh; /*Set the height to 100% of the viewport height*/
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    /* font-size: large; */
  }
  
  .contact-details {
    width: 45%; /* Desired width for contact information */
    padding: 5px;
    border-radius: 5px; /* Optional rounded corners */
    font-size: small;
    font-weight:bolder;
  }
  .services-container {
    flex-wrap: wrap;
    height:  50vh;
  }
  .service-card {
    width: 300px;
    height: 60px;;
  }
  .service-card p {
    display: none; 
  }
  .contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: max-content;
  
  }
  
  .contact-form textarea {
    min-height: 100px; /* Adjust as needed */
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .contact-form span {
    margin-top: 10px;
    display: block;
  }
  .pricing-container {
    background-color: transparent;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-collapse: collapse;
    background-size: contain;
    background-position: center;
    height: fit-content;
  }
  
  table {
    width: 100%;
    border: 1px solid #ccc;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #9fa7c0;
    font-weight: bold;
    background-color: #d9e3ee;
  }
  
  th {
    font-weight: bold;
  }


}